[package]
name = "bpm_core"
version = "0.1.0"
edition = "2021"
license = "Unlicense"
description = "Cross-platform software helping to verify, prove and secure package compilation, building, fetching, and deployment. Core package."
homepage = "https://github.com/Meta-A/bpm"
repository = "https://github.com/Meta-A/bpm"
readme = "../../README.md"

[dependencies]
config = "0.14.0"
serde = { version = "1.0.210", features = ["derive"] }
tempfile = "3.13.0"
serde_json = "1.0.128"
serde_with = { version = "3.11.0", features = ["json"] }
tonic = { version = "0.12.3", features = ["tls", "tls-native-roots"] }
prost = "0.13.3"
futures-util = "0.3.31"
env_logger.workspace = true
tokio = { version = "1", features = ["fs", "sync"] }
log.workspace = true
reqwest = "0.12.8"
zstd = "0.13.2"
tar = "0.4.42"
walkdir = "2.5.0"
hedera = "0.29.0"
async-trait = "0.1.83"
sha2 = "0.10.8"
hex = "0.4.3"
ed25519 = "2.2.3"
rlp = "0.6.1"
ed25519-dalek = { version = "2.1.1", features = ["signature", "pkcs8", "pem"] }
polodb_core = "5.1.3"
base64 = "0.22.1"
url = "2.5.3"
strum = "0.26"
strum_macros = "0.26"
thiserror = "2"

[build-dependencies]
tonic-build = "0.12"

[profile.release]
lto = true

